# Problem Set 2
This problem set is based on lectures 4,5 and 6. For a complete list of topics please 
consult page 2 of the course syllabus. Please consult the â€œInstructions for Problem 
Set Submissionsâ€ document under course information before submitting your 
assignment.

# Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement

In [2]:
from Sample import *

b()
b()
b()
a

6

When we Run the kernel first time the value displayed is 0 since global a = 0 but after we call b() function three times it increases by 6 evrytime as the function is increment by 2 and is called 3 times so same address of a gets incremented by 6 in every call

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [3]:
import os

def fileLength(file):
    try:    
        f = open(file, "r")
        # get the cursor positioned at end
        f.seek(0, os.SEEK_END)
        # get the current position of cursor
        # this will be equivalent to size of file
        print("Size of file is :", f.tell(), "bytes")
    except FileNotFoundError:
        print("File "+ file +" not found")
        
fileLength("words.txt")
fileLength("blootype.txt")

Size of file is : 5346 bytes
File blootype.txt not found

# Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
 BDAT 1004 â€“ Data Programming 
Page 3 of 7
F2021
BDAT 1004 Computer Studies
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [4]:
class Marsupial:
  def __init__(self):
    self.pouch = []
  
  def put_in_pouch(self, word):
    self.pouch.append(word)
  
  def pouch_contents(self):
  	print(self.pouch)

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

class Kangaroo(Marsupial):
  def __init__(self,x,y):
    self.x = x
    self.y = y
    super().__init__()    

  def jump(self,dx, dy):
    self.x+=dx
    self.y+=dy

  def __str__(self):
    return("I am a Kangaroo located at coordinates(%s,%s)"  %  (self.x, self.y ))

  
    
k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates(0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates(3,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
ð‘¥/2 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘’ð‘£ð‘’ð‘›
3ð‘¥ + 1 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘œð‘‘ð‘‘
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.
 BDAT 1004 â€“ Data Programming 
Page 4 of 7
F2021
BDAT 1004 Computer Studies
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [5]:
def collatz(x):
    if(x==1):
        print(int(x))
        return 
    
    if(x%2==0):
        print(int(x))
        collatz(x/2)
    else:
        print(int(x))
        collatz((3*x)+1)
collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [8]:
def binary(num):
    if(num>=2):
        binary(num//2)
    # printing remainder from each function call
    print(num%2,end = '')
binary(0)
print()
binary(1)
print()
binary(3)
print()
binary(9)

0
1
11
1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have 
 BDAT 1004 â€“ Data Programming 
Page 5 of 7
F2021
BDAT 1004 Computer Studies
indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [9]:
from html.parser import HTMLParser

class HeadParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.firsttag = None
        self.inLink = False
        

    def handle_starttag(self, tag, attributes):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            if(tag=='h1'):
                print("",end='')
                self.firsttag = tag
                self.inLink = True
            elif(tag=='h2'):
                print("\t",end='')
                self.firsttag = tag
                self.inLink = True
            elif(tag=='h3'):
                print("\t\t",end='')
                self.firsttag = tag
                self.inLink = True
            elif(tag=='h4'):
                print("\t\t\t",end='')
                self.firsttag = tag
                self.inLink = True
            elif(tag=='h5'):
                print("\t\t\t\t",end='')
                self.firsttag = tag
                self.inLink = True
            elif(tag=='h6'):
                print("\t\t\t\t\t",end='')
                self.firsttag = tag
                self.inLink = True
            else:
                self.inLink = False
                
    def handle_endtag(self, tag):
        if(tag == "h1"):
            self.inlink = False
        if(tag == "h2"):
            self.inlink = False
        if(tag == "h3"):
            self.inlink = False
        if(tag == "h4"):
            self.inlink = False
        if(tag == "h5"):
            self.inlink = False
        if(tag == "h6"):
            self.inlink = False
            
    def handle_data(self, data):
        if(self.firsttag == 'h1' and self.inLink):
            print(data)
        if(self.firsttag == 'h2' and self.inLink):
            print(data)

file = open('w3c.html')
content = file.read()
file.close()
head_parser = HeadParser()
head_parser.feed(content)
#Content help from https://stackoverflow.com/questions/16773583/python-extracting-specific-data-with-html-parser

W3C Mission



The W3C mission is to lead the World Wide Web to its full potential

by developing protocols and guidelines that ensure the long-term growth of the Web.



	Principles




Web for All


Web on Everything



See the complete
W3C Mission document
.

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.
>>> 
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [10]:
from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links
from urllib.request import urlopen
from urllib.parse import urljoin

from html.parser import HTMLParser

def analyze(url):
    
    print('\n\nVisiting', url)           # for testing

    # obtain links in the web page
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()          # get list of links

    # print the http links found in web page
    print('\n{:45} {:10}'.format('URL', 'link'))
    for link in urls:
        print('{:45} {:10}'.format(url, link))

    return urls
visited = set() # initialize visited to an empty set

def crawl2(url,depth,indent):
    '''a recursive web crawler that calls analyze()
       on every visited web page'''

    # add url to set of visited pages
    global visited     # warns the programmer 
    visited.add(url)

    # analyze() returns a list of hyperlink URLs in web page url 
    links = analyze(url)
    
    if(indent==0):
        return
    else:
        # recursively continue crawl from every link in links
        for link in links:
            # follow link only if not visited
            if link not in visited:
                try:
                    crawl2(link,depth-1,indent-1)
                except:
                    pass
        

crawl2('http://reed.cs.depaul.edu/lperkovic/one.html',2,0)

Visiting http://reed.cs.depaul.edu/lperkovic/one.html

URL                                           link
http://reed.cs.depaul.edu/lperkovic/one.html  http://reed.cs.depaul.edu/lperkovic/two.html
http://reed.cs.depaul.edu/lperkovic/one.html  http://reed.cs.depaul.edu/lperkovic/three.html

# Question 8
Write SQL queries on the below database table that return: 
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
 BDAT 1004 â€“ Data Programming 
Page 6 of 7
F2021
BDAT 1004 Computer Studies
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.
City Country Season Temperature Rainfall 
Mumbai India Winter 24.8 5.9 
Mumbai India Spring 28.4 16.2 
Mumbai India Summer 27.9 1549.4 
Mumbai India Fall 27.6 346.0 
London United Kingdom Winter 4.2 207.7 
London United Kingdom Spring 8.3 169.6 
London United Kingdom Summer 15.7 157.0 
London United Kingdom Fall 10.4 218.5 
Cairo Egypt Winter 13.6 16.5 
Cairo Egypt Spring 20.7 6.5 
Cairo Egypt Summer 27.7 0.1 
Cairo Egypt Fall 22.2 4.5

In [11]:
import sqlite3
con = sqlite3.connect('wb2.db')
cur = con.cursor()
cur.execute("CREATE TABLE Wwather (City text, Country text, Season text, Temperature float, Rainfall float)")
record1 = ("Mumbai", "India", "Winter", 24.8, 5.9)
record2= ("Mumbai", "India", "Spring", 28.4, 16.2) 
record3= ("Mumbai", "India",  "Summer", 27.9, 1549.4) 
record4= ("Mumbai", "India", "Fall", 27.6, 346.0) 
record5=("London", "United Kingdom", "Winter", 4.2, 207.7) 
record6=("London", "United Kingdom", "Spring", 8.3, 169.6) 
record7=("London", "United Kingdom", "Summer", 15.7, 157.0) 
record8=("London", "United Kingdom", "Fall", 10.4, 218.5)
record9=("Cairo","Egypt","Winter",13.6,16.5)                      
recor10=("Cairo", "Egypt", "Spring",20.7,6.5)
record11=("Cairo","Egypt","Summer",22.7,0.1)
record12=("Cairo","Egypt","Fall",22.2,4.5)

cur.execute("INSERT INTO Wwather VALUES (?, ?, ?,?, ?)", record1)
cur.execute("INSERT INTO Wwather VALUES (?, ?, ?,?, ?)", record2)
cur.execute("INSERT INTO Wwather VALUES (?, ?, ?,?, ?)", record3)
cur.execute("INSERT INTO Wwather VALUES (?, ?, ?,?, ?)", record4)
cur.execute("INSERT INTO Wwather VALUES (?, ?, ?,?, ?)", record5)
cur.execute("INSERT INTO Wwather VALUES (?, ?, ?,?, ?)", record6)
cur.execute("INSERT INTO Wwather VALUES (?, ?, ?,?, ?)", record7)
cur.execute("INSERT INTO Wwather VALUES (?, ?, ?,?, ?)", record8)
cur.execute("INSERT INTO Wwather VALUES (?, ?, ?,?, ?)", record9)
cur.execute("INSERT INTO Wwather VALUES (?, ?, ?,?, ?)", recor10)
cur.execute("INSERT INTO Wwather VALUES (?, ?, ?,?, ?)", record11)
cur.execute("INSERT INTO Wwather VALUES (?, ?, ?,?, ?)", record12)

In [12]:
cur.execute('SELECT TEMPERATURE FROM Wwather')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (22.7,),
 (22.2,)]

In [13]:
cur.execute('SELECT DISTINCT(CITY)  FROM Wwather')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [14]:
cur.execute('SELECT *  FROM Wwather WHERE country = "India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [15]:
cur.execute('SELECT *  FROM Wwather WHERE Season = "Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [16]:
cur.execute('SELECT city, country, season  FROM Wwather WHERE Rainfall>= 200 and Rainfall<=400')
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [17]:
cur.execute('Select city, country from Wwather where season == "Fall" and temperature > 20 order by temperature ASC')
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [18]:
cur.execute('Select Sum(Rainfall) from Wwather where city = "Cairo"')
cur.fetchall()

[(27.6,)]

In [19]:
cur.execute('select Season, Sum(rainfall) from Wwather group by Season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.)

In [20]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# a) Print words in Upper case
print([val.upper() for val in words])

# b) Print words in Lower case
print([val.lower() for val in words])

# c) Print length of each word
print([len(val) for val in words])

# d) Printing the list that contain the word in Uppercase and Lowercase and the length of the word
print([[val.upper(), val.lower(), len(val)] for val in words])

# e) Printing the list of words in list words containing 4 or more characters
print([val for val in words if len(val)>=4])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']